@import url(https://fonts.googleapis.com/css?family=Righteous);

.redeclas{
    margin: 0 250px;
    position: absolute;
    text-decoration: none;
    color: royalblue;
}
.redeclas2{
  margin: 0 218px;
  position: absolute;
  text-decoration: none;
  color: #f2003c;
}
.redeclas3{
  margin: 0 185px;
  position: absolute;
  text-decoration: none;
  color: royalblue;
}
.redeclas4{
  margin: 0 146px;
  position: absolute;
  text-decoration: none;
  color: red;
}
.redeclas5{
  margin: 0px 111px;
  position: absolute;
  text-decoration: none;
  color: royalblue;
}

.txtrede{
  color: white;
  margin: 100px 0px;
  position: absolute;
  text-align: center;
}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }


  body {
    text-align: center;
    background-color: #B57EDC;
    }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }

h1 {
  display: inline-block;
  color: #FF7FF9;
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 #B57EDC;
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsl(255, 100%, 100%) 55%,
        hsl(255, 100%, 100%) 70%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
